<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Aplicação</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="#">Home</a>
      </li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>


<div class="jumbotron">
  <div class="container">
    <h1>Aplicação</h1>
    <p>Aplicação base teste integrado API</p>
    <form>
      <button type="submit" (click)="buscarAPI()" class="btn btn-success">Consumir API</button>
      <div class="form-group">
        <h5>Resultado API </h5>
        <input type="text" class="form-control" [value]="respostaAPI" >
      </div>
    </form>
  </div>
</div>